<p>tab-bar works!</p>
<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second">
    <div class="mat-tab-body-content">
      <!-- Your scrollable content goes here -->
      <!-- Content will be scrollable when it exceeds the specified height -->
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
        pellentesque tincidunt ex ac rhoncus. Nullam sit amet elementum sapien.
        Fusce vitae sagittis metus, non tristique metus. Quisque et erat ut odio
        elementum iaculis vitae nec nisi. Nullam aliquam in lorem nec euismod.
        Donec auctor, odio quis semper blandit, neque urna tincidunt dui, eget
        sagittis justo lectus nec metus. Aenean convallis metus eu elit
        vehicula, et laoreet ipsum vehicula. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas. Mauris
        maximus dolor vitae nulla varius, eu ullamcorper justo facilisis. Nulla
        lacinia quam in mi egestas pharetra. Fusce a neque at odio laoreet
        facilisis non vitae lectus. Integer eu dui et lectus faucibus varius.
      </p>
    </div>
  </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
