<div class="grid place-content-center h-screen bg-slate-900">
  <h1 class="text-3xl font-bold underline text-red-500">Hello world!</h1>
  <div>
    <div
      class="max-w-md bg-yellow-100 p-6 rounded-xl flex flex-row items-center"
    >
      <div class="py-6 w-12">
        <img
          src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"
        />
      </div>
      <div class="ml-4">
        <h2 class="text-xm">Photography</h2>
      </div>
    </div>
  </div>
  <button
    class="bg-yellow-800 mt-3 rounded-xl h-10 text-center text-white hover:bg-white hover:text-black"
  >
    BUY NOW
  </button>
  <div class="mt-5">
    <div
      class="bg-white rounded-xl max-w-sm overflow-hidden md:max-x-2xl sm:max-w-1xl"
    >
      <div class="md:flex">
        <div>
          <img
            class="h-40 w-full"
            src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg"
          />
        </div>
        <div class="text-green-800 p-8 sm:text-yellow-300">Content</div>
      </div>
    </div>
  </div>
</div>
